<!doctype HTML>
<html>
<head>
  <meta charset="utf-8">
  <title>Los Sures Nav</title>
  <link rel="stylesheet" type="text/css" href="styles/main.css">
  <link rel="stylesheet" type="text/css" href="styles/nav.css">
</head>
<body>
  <div class="overlay"></div>
  <div class="site-navigation">
    <ul>
      <li><a id="title" href="#">living <span>los sures</span></a></li>
      <li><a class="menu-item" href="#">About Living Los Sures</a></li>
      <!-- <li><a class="menu-item" href="#">Los Sures [1984]</a></li> -->
      <li><a class="menu-item" href="#">89 Steps</a></li>
      <li><a class="menu-item" href="#">Shot by Shot</a></li>
      <li><a class="menu-item" href="#">Southside Short Docs</a></li>
      <li><a class="menu-item donate-link" href="#">« Donate »</a></li>
      <!-- <li><a class="menu-item" href="#">Naming Los Sures</a></li> -->
 <!--      <li id="donate-button">
        <form method="post" action="#" name="email-form">
          <input type="submit" value="« Donate »">
          <BR>
          <label for="email-field"></label>
          <input type="email" id="email-field" placeholder="your email address">
        </form>
      </li> -->
      <li id="copyright">© <strong>Union Docs Inc.</strong> 2014</li>
    </ul>
  </div>

  <nav class="top-nav">
    <button class="top-nav-menu menu-open-button"></button>
    <div class="top-nav-current-slide">
      <div class="top-nav-author down" ng-repeat="slide in shot.slides | filter:isNavSlide">
      </div>
    </div>
    <div class="top-nav-shot">
      <a ui-sref="shot({ shot: shot.previous })" class="top-nav-shot-down"></a>
      <div class="top-nav-shot-current"></div>
      <a ui-sref="shot({ shot: shot.next })" class="top-nav-shot-up"></a>
    </div>

    <div class="nav-menu">
      <div class="nav-menu-controls">
      </div>

      <div class="nav-menu-shots">
        <div class="nav-menu-shot" ng-repeat="shot in shots">
        </div>
      </div>
    </div>
  </nav>

  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.js"></script>
  <script type="text/javascript" src="scripts/nav.js"></script>
</body>
</html>
