
/***************************/
/*       TYPOGRAPHY        */
/***************************/






/***************************/
/*     COLORS : LAYOUT     */
/***************************/

#nav{
	color: #ffffff;
	background-color: #00dc0a;} 

#wrap{
	background-color: white;
}

.right-column {
	background-color:white;
}

#main {
background:white;
}
#sidebar {
background:white;
}

#ight-column {
	background: white;
}

#slideshow{
	background-color: black;
	color:white;
}

#unit-info{
	background-color: #d3d3d3;
}
body {
	background-color: #d3d3d3;
}

#apts{ 
  	border: 3px solid;
    border-radius: 2px;
    border-color: #d3d3d3;
    padding: 20px;
    }
/***************************/
/*      COLORS : TEXT      */
/***************************/



/***************************/
/*         LAYOUT          */
/***************************/

/*header {
	display: block;
}*/

/* this is to make the content reach the edges of the browser window */
body, 
html{
	margin:0;
	padding:0;
	color:#000;
/*	background:#a7a09a;
*/}

#nav {
	height: 50px; 
	width: 100%; 
	margin: 0px auto;
	position: fixed;
	top: 0px;
	z-index: 100;
	left: 0px;
}

#main{
	padding-top: 50px;
}
/* this is to make the content reach the edges of the browser window */
#right-column{
	float: left;
	width: 60%;
}

#sidebar{
	float: right;
	width: 250px;
}

#wrap{
	width:750px;
	margin:0 auto;
	height: 2000px;
	padding: 20px;
}

#slideshow{
	height:420px;
}
#agent{
	height: 250px;
	width: 100%;
}

#a1{ 
 padding-bottom: 10px;
 height: 7%;
}
#unit-info{
	height:100px;
	padding: 20px;
}


/***************************/
/*      IMAGES LAYOUT      */
/***************************/

#address{
	display:inline-block;
	width:68%;
	float:left;
	margin-left:auto;
	margin-right:auto;
	height:110px;	
}

#a1{ 
 width: 100%;
}

#map {
	height: 400px;
	width: 100%;
}

#crime, #schools{
	width:50%;
	height:200px;
	float:left;
}

#transit, #amen{
	width:50%;
	height:200px;
	float:right;
}

#price{
	display:inline-block;
	width:30%;
	float:right;
	margin-left:auto;
	margin-right:auto;
	height:100px;
}

/***************************/
/*    ROLLOVER BUTTONS     */
/***************************/


